extends layout.pug
block content

  h1 Here to open a new door in Real State throughout Continental America.

    div
      img(src='http://res.cloudinary.com/dxx3lsf3c/image/upload/c_scale,w_341/v1519832235/SocialPost_7198736_facebook.png')
    h2 Revolutionizing the real state industry. By creating new investment oportunities in this industry with advantages for both the backer and the developer. All while reaching a broader audience.

      ul
        li Easy to invest
        li Trusted developers
        li Project analysis and time period
