extends layout.pug
block content
  each i in projects
            div.showProjects
              h2.nemeOfProject #{i.name}
                div.contentOfProject
                    p #{i.goal}
                    p #{i.current}
                    p #{i.description}
